<%- include("partials/header") %>

<div class="d-flex justify-content-center text-center">
  <h1>Menu:</h1>
</div>

<div class="d-flex justify-content-center text-center">
  <h5>Your weight is: <%= weight %> lbs</h5>
</div>

<div class="d-flex justify-content-center text-center">
  <h5>Your athletic multiple is: <%= multiple %></h5>
</div>

<div class="d-flex justify-content-center text-center">
  <h5>Your total daily expenditure rate is: <%= weight * multiple %> calories</h5>
</div>

<%var balance = weight * multiple + surplus%>

<%
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
}
%>

<%#
0 - 15: protein sources: getRandomInt(0,15)
15 - 27: carb sources: getRandomInt(15,27)
27 - 33: fat sources: getRandomInt(27,33)
%>


<%if(goal ==1){ %>
<%var surplus = 500;%>

<div class="d-flex justify-content-center text-center align-items-center">
  <h5>Your goal is to gain muscle so we will add 500 calories</h5>
</div>

<div class="d-flex justify-content-center text-center align-items-center">
  <h5>You should eat: <%= weight * multiple + surplus %> calories today in order to move toward your goals.</h5>
</div>


<%} else { %>
<%var surplus = -500;%>
<h5>Your goal is to burn fat so we will subtract 500 calories</h5>
<h5>You should eat <%= weight * multiple + surplus %> calories today in order to move toward your goals.</h5>
<%}%>
<br>


<% for (i = 0; i<3; i++) { %>

<%var proteinCal = Math.floor((weight * multiple + surplus)/3*0.4)%>
<%var carbCal = Math.floor((weight * multiple + surplus)/3*0.4)%>
<%var fatCal = Math.floor((weight * multiple + surplus)/3*0.2)%>

<%var protein1 = food[getRandomInt(0,15)]%>
<%var carb1 = food[getRandomInt(15,27)]%>
<%var fat1 = food[getRandomInt(27,33)]%>

<%var proteinQuant = proteinCal / protein1.calories%>
<%var carbQuant = carbCal / carb1.calories%>
<%var fatQuant = fatCal / fat1.calories%>

<%var meal1Calories = proteinQuant*protein1.calories + carbQuant*carb1.calories + fatQuant*fat1.calories%>
<%var meal1Proteins = proteinQuant*protein1.proteins + carbQuant*carb1.proteins + fatQuant*fat1.proteins%>
<%var meal1Carbs = proteinQuant*protein1.carbs + carbQuant*carb1.carbs + fatQuant*fat1.carbs%>
<%var meal1Fat = proteinQuant*protein1.fat + carbQuant*carb1.fat + fatQuant*fat1.fat%>

<div class="d-flex justify-content-center justify-content-lg-start pl-lg-5 text-center align-items-center">
  <h1>Meal <%=i+1%> :</h1>
</div>

<div class="d-flex justify-content-center justify-content-lg-start pl-lg-5 text-center align-items-center">
  <h7><%= proteinQuant.toPrecision(3) %>oz <%= protein1.name %></h7><br>
</div>

<div class="d-flex justify-content-center justify-content-lg-start pl-lg-5 text-center align-items-center">
  <h7><%= carbQuant.toPrecision(3) %>oz <%= carb1.name %></h7><br>
</div>

<div class="d-flex justify-content-center justify-content-lg-start pl-lg-5 text-center align-items-center">
  <h7><%= fatQuant.toPrecision(3) %>oz <%= fat1.name %></h7><br>
</div>
<div class="d-flex justify-content-center justify-content-lg-start pl-lg-5 text-center align-items-center">
  <h7 class="pr-2"><%= meal1Calories %> calories </h7><br>
  <h7 class="pr-2">Protein: <%= Math.floor(meal1Proteins) %>g </h7><br>
  <h7 class="pr-2">Carbs: <%= Math.floor(meal1Carbs) %>g </h7><br>
  <h7 class="pr-2">Fat: <%= Math.floor(meal1Fat) %>g </h7><br>
  <br>
</div>

<%}%>




















<%- include("partials/footer") %>