<%- include("partials/header") %>

<div class="d-flex justify-content-center text-center">
<h1>Menu:</h1>
</div>

<div class="d-flex justify-content-center text-center">
<h5>Your weight is: <%= weight %> lbs</h5>
</div>

<div class="d-flex justify-content-center text-center">
<h5>Your athletic multiple is: <%= multiple %></h5>
</div>

<div class="d-flex justify-content-center text-center">
<h5>Your total daily expenditure rate is: <%= weight * multiple %> calories</h5>
</div>

<%var balance = weight * multiple + surplus%>

<%
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
}
%>

<%#
0 - 10: protein sources: getRandomInt(0,15)
11 - 20: carb sources: getRandomInt(15,27)
21 - 30: fat sources: getRandomInt(27,33)
%>


<%if(goal ==1){ %>
<%var surplus = 500;%>

<div class="d-flex justify-content-center text-center align-items-center">
<h5>Your goal is to gain muscle so we will add 500 calories</h5>
</div>

<div class="d-flex justify-content-center text-center align-items-center">
<h5>You should eat: <%= weight * multiple + surplus %> calories today in order to move toward your goals.</h5>
</div>


<%} else { %>
<%var surplus = -500;%>
<h5>Your goal is to burn fat so we will subtract 500 calories</h5>
<h5>You should eat <%= weight * multiple + surplus %> calories today in order to move toward your goals.</h5>
<%}%>
<br>


<% for (i = 0; i<3; i++) { %>

  <%var protein1 = food[getRandomInt(0,15)]%>
  <%var carb1 = food[getRandomInt(15,27)]%>
  <%var fat1 = food[getRandomInt(27,33)]%>


  <%var meal1Calories = protein1.calories + carb1.calories + fat1.calories%>
  <%var meal1Proteins = protein1.proteins + carb1.proteins + fat1.proteins%>
  <%var meal1Carbs = protein1.carbs + carb1.carbs + fat1.carbs%>
  <%var meal1Fat = protein1.fat + carb1.fat + fat1.fat%>

  <div class="d-flex justify-content-center justify-content-lg-start pl-lg-5 text-center align-items-center">
  <h1>Meal <%=i+1%> :</h1>
  </div>

  <div class="d-flex justify-content-center justify-content-lg-start pl-lg-5 text-center align-items-center">
  <h7><%= protein1.ounces %>oz <%= protein1.name %></h7><br>
  </div>
  
  <div class="d-flex justify-content-center justify-content-lg-start pl-lg-5 text-center align-items-center">
  <h7><%= carb1.ounces %>oz <%= carb1.name %></h7><br>
  </div>

  <div class="d-flex justify-content-center justify-content-lg-start pl-lg-5 text-center align-items-center">
  <h7><%= fat1.ounces %>oz <%= fat1.name %></h7><br>
  </div>
  <div class="d-flex justify-content-center justify-content-lg-start pl-lg-5 text-center align-items-center">
  <h7 class="pr-2"><%= meal1Calories %> calories </h7><br>
  <h7 class="pr-2">Protein: <%= meal1Proteins %>g </h7><br>
  <h7 class="pr-2">Carbs: <%= meal1Carbs %>g </h7><br>
  <h7 class="pr-2">Fat: <%= meal1Fat %>g </h7><br>
  <br>
  </div>

  <div class="d-flex justify-content-center justify-content-lg-start pl-lg-5 text-center align-items-center">
  <h7 class="pr-2"><%= Math.floor((weight * multiple + surplus)/3) %> calories </h7><br>
  <h7 class="pr-2">Protein: <%= Math.floor((((weight * multiple + surplus)/3)*0.4)/4) %>g </h7><br>
  <h7 class="pr-2">Carbs: <%= Math.floor((((weight * multiple + surplus)/3)*0.4)/4) %>g </h7><br>
  <h7 class="pr-2">Fat: <%= Math.floor((((weight * multiple + surplus)/3)*0.2)/9) %>g </h7><br>
  <br>
  </div>

<%}%>




















<%- include("partials/footer") %>
