<%- include("partials/header") %>

<!-- <div class="d-flex justify-content-center text-center">
  <h1>Menu:</h1>
</div> -->

<!-- <div class="d-flex justify-content-center text-center">
  <h5>Your weight is: <%= weight %> lbs</h5>
</div> -->

<!-- <div class="d-flex justify-content-center text-center">
  <h5>Your athletic multiple is: <%= multiple %></h5>
</div> -->

<!-- <div class="d-flex justify-content-center text-center">
  <h5>Your total daily expenditure rate is: <%= weight * multiple %> calories</h5>
</div> -->

<%var balance = weight * multiple + surplus%>

<%
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
}
%>

<%#
0 - 15: protein sources: getRandomInt(0,15)
15 - 27: carb sources: getRandomInt(15,27)
27 - 33: fat sources: getRandomInt(27,33)
%>


<%if(goal ==1){ %>
<%var surplus = 500;%>

<!-- <div class="d-flex justify-content-center text-center align-items-center">
  <h5>Your goal is to gain muscle so we will add 500 calories</h5>
</div> -->

<!-- <div class="d-flex justify-content-center text-center align-items-center">
  <h5>You need to eat <%= weight * multiple + surplus %> calories today.</h5>
</div> -->


<%} else { %>
<%var surplus = -500;%>
<!-- <h5>Your goal is to burn fat so we will subtract 500 calories</h5> -->
<!-- <div class="d-flex justify-content-center text-center align-items-center">
  <h5>You need to eat <%= weight * multiple + surplus %> calories today.</h5>
</div> -->
<%}%>
<br>

<!--calculate calories-->
<%var totalCal = Math.floor(weight * multiple + surplus)%>
<%var perMealCal = Math.floor(totalCal/3)%>
<%var proteinCal = Math.floor(perMealCal*0.4)%>
<%var carbCal = Math.floor(perMealCal*0.4)%>
<%var fatCal = Math.floor(perMealCal*0.2)%>

<!--generate menu-->
<% for (i = 0; i<3; i++) { %>

<%var protein = food[getRandomInt(0,15)]%>
<%var carb = food[getRandomInt(15,27)]%>
<%var fat = food[getRandomInt(27,33)]%>
<%var proteinQ = Math.floor(proteinCal / protein.calories)%>
<%var carbQ = Math.floor(carbCal / carb.calories)%>
<%var fatQ = Math.floor(fatCal / fat.calories)%>
<%var discrepancy = perMealCal - proteinQ*protein.calories - carbQ*carb.calories - fatQ*fat.calories%>
<!--find the cloest substitute-->
<%
var sub = protein;
while ([protein, carb, fat].includes(sub)) {
  sub = food.reduce(function(prev, curr) {
    return (Math.abs(curr.calories - discrepancy) < Math.abs(prev.calories - discrepancy) ? curr : prev);
  });
}
%>
<%var mealCal = proteinQ*protein.calories + carbQ*carb.calories + fatQ*fat.calories + sub.calories%>
<%var mealProtein = proteinQ*protein.proteins + carbQ*carb.proteins + fatQ*fat.proteins + sub.proteins%>
<%var mealCarb = proteinQ*protein.carbs + carbQ*carb.carbs + fatQ*fat.carbs + sub.carbs%>
<%var mealFat = proteinQ*protein.fat + carbQ*carb.fat + fatQ*fat.fat + sub.fat%>

<!-- <div class="test">
  totalCal: <%=totalCal%><br>
  perMealCal: <%=perMealCal%><br>
  proteinCal: <%=proteinCal%><br>
  carbCal: <%=carbCal%><br>
  fatCal: <%=fatCal%><br>
  proteinQ: <%=proteinQ%><br>
  carbQ: <%=carbQ%><br>
  fatQ: <%=fatQ%><br>
  discrepancy: <%=discrepancy%><br>
</div> -->

<div class="d-flex justify-content-start pl-3 pl-lg-5 pb-3 text-center align-items-center futura-h">
  <%if (i === 0) { %>
  <h3><b>Breakfast :</b></h3>
  <%} else if (i === 1) {%>
  <h3><b>Lunch :</b></h3>
  <%} else {%>
  <h3><b>Dinner :</b></h3>
  <%};%>
</div>

<%if (proteinQ != 0) {%>
<div class="d-flex justify-content-start pl-5 pl-lg-5 text-center align-items-center pb-2 futura-hi">
  <img class="pr-3" width="40px" height="40px" src="/food-icons/<%=protein.img%>" />
  <%if (proteinQ*protein.quant > 1 && protein.unit.length != 0 && protein.unit != 'oz') {%>
  <h7><%= proteinQ*protein.quant %> <%=protein.unit%>s <%= protein.name %></h7><br>
  <%} else if (proteinQ*protein.quant > 1 && protein.unit.length == 0) {%>
  <h7><%= proteinQ*protein.quant %> <%=protein.unit%> <%= protein.name %>s</h7><br>
  <%} else {%>
  <h7><%= proteinQ*protein.quant %> <%=protein.unit%> <%= protein.name %></h7><br>
  <%};%>
</div>
<%};%>

<%if (carbQ != 0) {%>
<div class=" d-flex justify-content-start pl-5 pl-lg-5 text-center align-items-center pb-2 futura-hi">
  <img class="pr-3" width="40px" height="40px" src="/food-icons/<%=carb.img%>" />
  <%if (carbQ*carb.quant > 1 && carb.unit.length != 0 && carb.unit != 'oz') {%>
  <h7><%= carbQ*carb.quant %> <%=carb.unit%>s <%= carb.name %></h7><br>
  <%} else if (carbQ*carb.quant > 1 && carb.unit.length == 0) {%>
  <h7><%= carbQ*carb.quant %> <%=carb.unit%> <%= carb.name %>s</h7><br>
  <%} else {%>
  <h7><%= carbQ*carb.quant %> <%=carb.unit%> <%= carb.name %></h7><br>
  <%};%>
</div>
<%};%>

<%if (fatQ != 0) {%>
<div class="d-flex justify-content-start pl-5 pl-lg-5 text-center align-items-center pb-2 futura-hi">
  <img class="pr-3" width="40px" height="40px" src="/food-icons/<%=fat.img%>" />
  <%if (fatQ*fat.quant > 1 && fat.unit.length != 0 && fat.unit != 'oz') {%>
  <h7><%= fatQ*fat.quant %> <%=fat.unit%>s <%= fat.name %></h7><br>
  <%} else if (fatQ*fat.quant > 1 && fat.unit.length == 0) {%>
  <h7><%= fatQ*fat.quant %> <%=fat.unit%> <%= fat.name %>s</h7><br>
  <%} else {%>
  <h7><%= fatQ*fat.quant %> <%=fat.unit%> <%= fat.name %></h7><br>
  <%};%>
</div>
<%};%>

<div class="d-flex justify-content-start pl-5 pl-lg-5 text-center align-items-center pb-2 futura-hi">
  <img class="pr-3" width="40px" height="40px" src="/food-icons/<%=sub.img%>" />
  <%if (sub.quant > 1 && sub.unit.length != 0 && sub.unit != 'oz') {%>
  <h7><%= sub.quant %> <%=sub.unit%>s <%= sub.name %></h7><br>
  <%} else if (sub.quant > 1 && sub.unit.length == 0) {%>
  <h7><%= sub.quant %> <%=sub.unit%> <%= sub.name %>s</h7><br>
  <%} else {%>
  <h7><%= sub.quant %> <%=sub.unit%> <%= sub.name %></h7><br>
  <%};%>
</div>

<div class="d-flex justify-content-center justify-content-lg-start pl-lg-5 pb-5 text-center align-items-center futura-p">
  <p class="pr-2"><%= mealCal %> calories <span>&#8226;</span> <%= mealProtein %>g protein
    <span>&#8226;</span> <%= mealCarb %>g carbs <span>&#8226;</span> <%= mealFat %>g fat</p>
  <br>
  <br>
</div>

<%}%>

<%- include("partials/footer") %>